html, body {

    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    font-weight: bold;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1,h2,h3,h4,h5,h6{
    color: #333;
    font-weight: bold;
}
.menu{
    background-color: #00bfa5;
}
.login{
    width: 50%;


}
@media screen and (min-width: 768px) {
    .login {

        margin:0 auto;
        float: right;
    }
}
.m-b-md {
    margin-bottom: 30px;
}
form button{
    float:left;
    font-weight: bold; 
    margin-left: 20px;
    background-color:#00bfa5;
    color:#00bfa5;
}
form label{
    font-weight: bold;
}
form{
    color:#333;
}

.submit{
    background-color: #00bfa5;
}


.card_content{
    
    margin-left: 600px;
}
.card{
    color: #333;
}